body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gameContainer {
    position: relative;
    aspect-ratio: 16 / 9;
    height: 100vh;
}

canvas {
    width: 100%;

    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#txt-box {
    position: absolute;
    
    left: 8%;
    right: 8%;
    bottom: 3.5%; 
    height: 26%;
    
    background-color: #F8F8F8;
    border: 5.0vmin solid;
    border-image-source: url('assets/Windowskins/speech\ 1.png');
    border-image-slice: 16;
    border-image-width: 5.0vmin;
    border-image-repeat: repeat;

    box-shadow: 12px 12px black;

    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

@font-face {
    font-family: GSC;
    src: url(assets/pokemon-gsc.otf.woff2);
}

#txt {
    font-family: GSC;
    font-size: 5.0vmin;
    margin-top: 4%;
    margin-left: 2%; 
    margin-right: 2%; 
    line-height: 1.7;
    color: black;
    filter: blur(0.5px);
}